.dashboard-container {
    background-color: var(--surface-ground);
    min-height: calc(100vh - 80px);
    /* Adjust for navbar */
}

.customer-badge {
    border-radius: 2px;
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
}

.customer-badge.status-admin {
    background-color: #C8E6C9;
    color: #256029;
}

.customer-badge.status-user {
    background-color: #FFCDD2;
    color: #C63737;
}