.map-container {
    height: calc(100vh - 64px);
    width: 100%;
    position: relative;
}

#map {
    height: 100%;
    width: 100%;
    z-index: 1;
}

.map-filters {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    /* Above map */
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 30px;
    display: flex;
    gap: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.map-filters button {
    border: none;
    background: none;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
    color: var(--color-text-light);
    transition: all 0.3s;
}

.map-filters button.active {
    background-color: var(--color-sage-green);
    color: var(--color-white);
}

.map-filters button:hover:not(.active) {
    background-color: #f0f0f0;
}

.plane-icon {
    background: transparent;
    border: none;
}