/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --color-cream: #F5F5DC;
  --color-white: #FFFFFF;
  --color-sage-green: #9DC183;
  --color-sage-dark: #7da165;
  --color-text-main: #333333;
  --color-text-light: #666666;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--surface-ground);
  color: var(--text-color);
}

/* Leaflet Map Fix */
.leaflet-container {
  height: 100%;
  width: 100%;
}